@font-face {
    font-family: 'Raleway';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(raleway-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url(raleway-Medium.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src url(raleway-SemiBold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url(raleway-Bold.ttf) format('truetype');
  }