.popup-new__container {

    position: relative;
    width: 336px;
    height: 605px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.185434);
    border-radius: 3px;
    margin: 28px 18px 0;
    padding: 0 27px;
}