.card{
	width: 280px;
	display: grid;
	grid-template-columns: repeat(2, 140px);
	grid-template-rows: repeat(2, 33px);
	row-gap: 30px;
	column-gap: 50px;
	background-color: #fff;
	border-radius: 3px;
}